header {
    display: flex;
    justify-content: center;
    height: 100px;
    padding-bottom: 50px;
    margin-bottom: 10px;
    margin-top: 20px;

    & .nav__logo {
        background-position: center;
        height: 40px;
        width: 100%;
        margin-top: 15px;
    }

    & a {
        position: absolute;
        font-size: larger;
        top: 30px;
        left: 20px;

        & i {
            margin-right: 7px;
        }

        .return-button {
            display: none;

            @media all and (min-width: $tablet-width) {
                display: initial;
            }

        }
    }
}
