.loader {
    position: absolute;
    height: 180px;
    width: 180px;
    display: block;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 30%;
    border: 16px solid $color-tertiary;
    border-radius: 50%;
    border-top: 16px solid $color-primary;
    border-bottom: 16px solid $color-secondary;
    animation: spin hide-spinner 2s linear infinite;
    z-index: 10000;

}