.explore-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    color: white;
    border-radius: 25px;
    background: $button-color;
    border: none;
    font-size: 16px;

   
    &:hover {
        opacity: 0.8;
        box-shadow: 0 6px 13px rgba(0, 0, 0, 0.5);
    }

    @media all and (min-width: $tablet-width) {
        width: 50%;
    }

    @media all and (min-width: $desktop-width) {
        width: 40%;
    }
}

.new-button {
display: flex;
justify-content: center;
align-items: center;
width: 75px;
height: 28px;
font-size: 14px;
font-weight: 500;
color: #008766;
border-radius: 2px;
background: $color-tertiary;
}

.heart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    & i {
        font-size: 25px;
        position: relative;
        cursor: pointer;

        &:hover {
            &::after {
                transform: scale(1);
            }
        }

        &::after {
            content: '\f004';
            position: absolute;
            top: 0px;
            left: 0px;
            transform: scale(0);
            font-weight: 900;
            background-image: linear-gradient(to bottom, $color-primary, $color-secondary);
            background-clip: text; 
            color: transparent;
            transform-origin: bottom;
            transition: transform 400ms;
        }
    }
}
