head {
    & title {
        visibility: hidden;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    position: relative;
    max-width: 1400px;
}

figure {
    margin: 0px;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
}

i {
    padding: 10px;
}
