@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap" ;
@import "https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" ;



h1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }

h2 {
  font-family: "Shrikhand", sans-serif; 
  font-weight: 400;
  font-size: 30px;
}
  
h3 {
    margin: 0px;
}

p {
    margin: 0px;
}